* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dfe3ea;
}

.card {
    width: 650px;
    background: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card p {
    font-size: 22px;
    line-height: 1.8;
    color: #333;
}

.card a {
    color: #3b49df;
    text-decoration: none;
    font-weight: 500;
}

.card a:hover {
    text-decoration: underline;
}